.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 450px;
  border-style: none;
    text-align: center;
}

.col-sm-1 {
    font-size: medium;
}

#escribir {
    border-radius: 25px;
}
